---
import Layout from '../layouts/Layout.astro';
import Taskbar from '../components/Taskbar.astro';
import Hero from '../components/Hero.astro';
import ServiceSection from '../pages/ServiceSection.astro';
import PricingSection from '../pages/PricingSection.astro';
---

<Layout>
  <Taskbar />
  <main>
    <Hero />
    <ServiceSection />
    <PricingSection />
  </main>
</Layout>
