---
import Layout from '../layouts/Layout.astro';
import Taskbar from '../components/Taskbar.astro';
import Hero from '../components/Hero.astro';
import ServiceSection from '../pages/ServiceSection.astro';
import PricingSection from '../pages/PricingSection.astro';
import Consultorio from '../pages/Consultorio.astro';
import Nosotros from '../pages/Nosotros.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Taskbar />
  <main>
    <Hero />
    <ServiceSection />
    <PricingSection />
    <Consultorio />
    <Nosotros />
  </main>
  <Footer />

</Layout>
